<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="./sign_up.css">
    <link rel="icon" type="image/x-icon" href="..\User_Ticket_Page\Favicon.png">
</head>
<body>
    <!-- <img class="backimg" src="./images/adrien-olichon-zyHJT71WwNU-unsplash.png" alt=""> -->
    <div class="glass-card">
        <div class="head">
            <h1>SIGN UP</h1>
        </div>
        <br>
        <div>
            <form action="/sign_up" method="post">
                <div class="name_label">
                    <label for="name">ENTER FULL NAME</label>
                    <input type="text" name="full_name" id="name">
                </div>
                <div class="phone_label">
                    <label for="phone">ENTER PHONE NUMBER</label>
                    <input type="text" name="phone" id="phone">
                </div>
                <div class="email_label">
                <label for="email">ENTER EMAIL</label>
                <input type="text" name="EMAIL" id="email">
            </div>
                <br>
                <div class="password_lable">
                <label for="password">ENTER PASSWORD</label>
                <input type="password" name="password" id="password">
            </div>
                <div class="button">
                    <button type="submit">sign up</button>
                </div>

            </form>
        
        </div>
        <p>don't have an account? <a href="..\sign_in\sign_in.html">Sign up</a> </p>
    </div>
</body>
</html>