<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Movies</title>
    <link rel="Stylesheet" href="./ticket.css">
    <link rel="icon" type="image/x-icon" href="..\User_Ticket_Page\Favicon.png">
</head>
<body>
    <div class="container_nav">

        <div class="mytickets">
            <form action="/mytickets" method="get">
                <button >My Tickets</a></button>
            </form>
        </div>

        <div class="nav">
            <button ><a style="text-decoration: none;" href="mYtickets.html">Home</a></button>
            <button ><a style="text-decoration: none;" href="pricing.html">Movie Available</a></button>
            <form action="/theatre" method="get">
                <button >Theatre</a></button>
            </form>
        </div>
    </div>
    <!-- <div class="content">
        <pre>            Wanna Have Fun? Check
                    Out These!
        </pre> -->
    <!-- </div> -->
    <div class="movie">
        <div class="m1">
            <form action="/interstellar" method="get">
                <button id="plus">+</button>
            </form>
            <!-- <button class="plus">add</button>

            </div>
            <div class="minus">
                
            </div> -->
            <!-- <img class='image' src='installer.jpg' alt="Interstellar" title="Interstellar" > -->
        </div>
        <div class="m2">
            <button id="plus2">
                +
            </button>
            <!-- <img class='image' src='BDO.png' alt="Baby's Day Out" title="Baby's Day Out"> -->
        </div>
        <div class="m3">
            <button id="plus3">
                +
            </button>
            <!-- <img class='image' src='horrer.jpg' alt="A Nightmare on ELM Street" title="A Nightmare on ELM Street"> -->
        </div>
            <!-- <br> -->
        <div class="m4">
            <button id="plus4">
                +
            </button>
            <!-- <img class='image' src='inseption.jpg' alt="Inception" title="Inception"> -->
        </div>
        <div class="m5">
            <button id="plus5">
                +
            </button>
            <!-- <img class='image' src='peakpx.jpg' alt="The Avengers" title="The Avengers">  -->
        </div>
    </div>
    
</body>

<script>

       
        
        // function bookTicket(movieId) {
        //     fetch(`http://localhost:5500/updateTicketAndUser?movieId=${movieId}`)
        //         .then(response => response.json())
        //         .then(data => {
        //             if (data.success) {
        //                 alert("Ticket booked successfully!");
        //             } else {
        //                 alert('Error: ${data.message}');
        //             }
        //         })
        //         .catch(error => {
        //             console.error("Error:", error);
        //             alert("An error occurred while booking the ticket.");
        //         });
        // }

        
        // document.getElementById("plus").addEventListener("click", function() {
        //     bookTicket(1);
        // });

        // document.getElementById("plus2").addEventListener("click", function() {
        //     bookTicket(2);
        // });

        // document.getElementById("plus3").addEventListener("click", function() {
        //     bookTicket(3);
        // });

        // document.getElementById("plus4").addEventListener("click", function() {
        //     bookTicket(4);
        // });

        // document.getElementById("plus5").addEventListener("click", function() {
        //     bookTicket(5);
        // });
    </script>
</script>
</html>