.ticket {
    font-size: 30px;
  font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    padding-right: 80px;
    padding-left: 50px;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
  -webkit-background-clip: text;
  
}

body{
    background-image: url(backg.jpg);
    background-size: 700px 1000px;
    background-repeat: no-repeat;
}
p.t1{
    color: black;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}
p.f1{
    color: black;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    width: 1100px; 
    height: 30px; 
    text-align: right;
    
}
.form-container button {
    background-color: rgb(78, 166, 78);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    appearance: none;
}

.form-container button:hover {
    background-color: rgb(78, 166, 78);
}
.rounded-input {
    width: 300px; 
    height: 40px; 
    font-size: 16px; 
    border: 2px solid #333; 
    border-radius: 20px; 
    padding: 0 15px; 
}


