*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #1E1E1E;
    backdrop-filter: blur(125px);
    
}

.container {
    height: 100vh;
    width: 100%;
    border: white 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;    
}   

.log-in{
    
    width: 35%;
    height: 50vh;
    flex-shrink: 0;
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(248, 248, 248, 0.91) 1.27%, rgba(248, 248, 248, 0.10) 1.27%, rgba(248, 248, 248, 0.11) 1.27%, rgba(248, 248, 248, 0.40) 90.68%);
    backdrop-filter: blur(10px);
}

.head_of_login{
    padding: 10px;
    font-family: Inter;
    font-size: 64px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(180deg, #EBC258 0%, rgba(253, 192, 35, 0.26) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 140px;
}

form{
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.Username{
    margin-top: 50px;
    margin-bottom: 40px;
}

input,textarea {
    border: none;
    font-size: 20px;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
  }


input:focus, textarea:focus{
    border-bottom: yellow 1px solid;
}
label,input{
    margin: 20px;
}


button{
   
    font-size: 35px;
    padding: 15px 32px;
    text-align: center;
    /*border-radius: 40px;*/
    border: none;
    border-radius: 40px;
    border-right: 2px solid #FDC023;

    border-left: 2px solid #FDC023;

    background: linear-gradient(160deg, rgba(248, 248, 248, 0.10) 1.27%, #FDC023 1.27%, rgba(253, 192, 35, 0.55) 1.27%, rgba(253, 192, 35, 0.22) 90.68%, #FDC023 90.68%);
    backdrop-filter: blur(10px);
}

.logbutton{
    margin-top: 40px;
}


.newuser{
    margin-top: 30px;
    background-color: transparent;
}